
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
form.chat { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form.chat input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form.chat button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#clientId {display:inline-block;margin-right:10px; margin-left:10px;}
#clientMessage {
    display:inline-block;
    vertical-align: middle;

    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
}

form.file {
    position: fixed;
    bottom: 45px;
}

.blackout {
    display: none;
            
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background: rgba(0, 0, 0, .5);
}
.blackout h3 {
    position: absolute;
    top: 45%;
    left: 50%;
    color:white;
}

.botword {
    color: slateblue;
    font-weight: bold;
}

#botword_default, #botword_デフォルト{
    color: olivedrab;
}

#botword_cool, #botword_クーデレ{
    color: dodgerblue;
}
